*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
   
    overflow-x: hidden;
  background-color: black;
    background-repeat:initial;
    background-size: 100%;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  
}
.nav_black{
    position: fixed;
    background-color: black;
    z-index: 1;
   
}

.logo{
    margin-top: -5px;
    width: 100px;
    height: 60px;
}
::placeholder{
    color: white;
}
.search input{
    border: none;
    width: 90%;
    background-color: rgb(48, 193, 241);
    
}
.search {
    padding: 3px;
    padding-left: 6px;
    border-radius: 15px;
    background-color: rgb(48, 193, 241);
    
}
.nav{
    color: grey;
}
.nav:hover{
    color:red;

}
.RONO{
    width: 100%;
}
.space{
    margin-top: 140px;
}
.toalign{
text-align: justify;
}
.social_media{
    width:240px;
    height: 300px;
}
.social_media_img{
    width:240px;
    height: 300px;
}

.email{
    border: none;
    border-bottom: 2px solid black;
    background-color: grey;
    text-decoration: none;
    width: 100%;
}
.newsletter{
    padding-bottom: 140px;
}
.subscribe{
    border: 1px solid ;
    border-radius: 50px;
    text-decoration: none;
    padding: 2px;
    color: white;
    background-color: rgb(48, 193, 241);
    padding-inline: 30px;
}
.subscribe:hover{
    background-color:red;
}

.spa__ce{
    margin-top: 300px;
}

.add_cart{

  
  color: white;
    text-decoration: none;
    border:0px solid;
    background: blue;  
}

.box{
    margin-top: 60px;
    background: url(../IMAGES/sports_shop2_new.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    min-height: 610px;
}

.slideUp {
    animation-name: slideUp;
    animation-name: slideUp;
    animation-duration: 2s;
   
    visibility: visible;
  }
  
  @keyframes slideUp {
    0% {
      opacity: 0;
      transform: translateY(70%);
    } 
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }
  #hide{
    display: none;
  }
  #close{
    display: none;
  }

